
body{
    font-family: 'Poppins', sans-serif;
}
.header-area {
	padding: 40px;
}
.money-title {
	text-align: center;
}
.money-title h1 {
	color: #31A5AC;
	font-size: 48px;
	font-weight: 700;
	padding-bottom: 38px;
}
.money-image img {
	width: 100%;
}
.money-content {
	background-color: #F8F8F8;
	text-align: center;
}
.money-content h1 {
	padding: 25px 0;
	color: #000000;
	font-size: 22px;
	font-weight: 500;
}
.money-content button {
	background: #59A5FF;
	padding: 15px 80px;
	border-radius: 4px;
	color: #FFFFFF;
	font-size: 20px;
    padding-top: 10px;
	text-decoration: none;
}
input{
    box-sizing: border-box;
    width: 234px;
}
#income-input {
	background: #DCDCDC;
	padding: 10px 10px;
	border-radius: 5px;
	margin-left: 15px;
    border: 0;
}
#food-price-input {
	background: #DCDCDC;
	padding: 10px 20px;
	border-radius: 5px;
	margin-left: 15px;
    border: 0;
}
#rent-price-input {
	background: #DCDCDC;
	padding: 10px 20px;
	border-radius: 5px;
	margin-left: 15px;
    border: 0;
}
#clothes-price-input {
	background: #DCDCDC;
	padding: 10px 20px;
	border-radius: 5px;
	margin-left: 15px;
    border: 0;
}
#save {
	background: #DCDCDC;
	padding: 10px 10px;
    border-radius: 5px;
    border: 0;
}
.money-content label {
	width: 65px;
}
.save-content {
	display: flex;
	align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.save-content input {
	width: 132px;
	margin: 0px 15px;
}
.save-content span {
	margin-right: 15px;
}


